  .first {

    display: flex;
    width: 100%;

    color: whitesmoke;
    align-items: center;
    justify-content: center;



    .avatar {
      display: inline-flex;
      align-items: center;

      img {
        width: 60vw;
        margin-left: -15vw;
      }
    }

    h1 {
      font-size: 9vw;
      margin-left: -15vw;

      span {
        font-weight: 300;
      }
    }
  }
