  .first {

    display: flex;
    width: 100%;
    padding-bottom: 5vh;
    background-color: whitesmoke;


    .avatar {
      display: inline-flex;
      align-items: center;

      img {
        width: 40vw;
      }
    }

    h1 {
      font-size: 9vw;
      color: #111fff;

      span {
        font-weight: 300;
      }
    }
  }
