nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: inline-flex;
  }

  ul {
    list-style: none;
    display: flex;
  }

  li {
    display: inline-block;
    text-decoration: none;
    margin-right: 5vw;
    color: white;
  }

  img {
    min-width: 100px;
    width: 8vw;
    vertical-align: middle;
  }
}
