nav {

  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: inline-flex;
    margin-left: 3vw;
  }

  ul {
    list-style: none;
    display: flex;
  }

  li {
    display: inline-flex;
    text-decoration: none;
    margin-right: 3vw;
    color: whitesmoke;
    a {
      color: whitesmoke;
    }
  }

  img {
    width: 100px;
    vertical-align: middle;
  }
}
