@charset "UTF-8";
nav {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 3vw;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

nav li a {
  color: whitesmoke;
}

nav img {
  width: 100px;
  vertical-align: middle;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

body h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

body li {
  text-transform: lowercase;
}

body a {
  font-weight: normal;
  font-size: 1rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #333;
}

body .heading {
  margin: 7vh 0 7vh 0;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first .avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first .avatar img {
  width: 60vw;
  margin-left: -15vw;
}

.first h1 {
  font-size: 9vw;
  margin-left: -15vw;
}

.first h1 span {
  font-weight: 300;
}

.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second .aboutMe {
  display: block;
  margin: 0 20vw 0 20vw;
}

.second .aboutMe h2 {
  font-size: 6vw;
  background-image: linear-gradient(transparent calc(65% - 5px), #000cc4 5px);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline;
}

.second .aboutMe p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.third .mySkills {
  display: block;
  margin: 0 20vw 0 20vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third .mySkills h2 {
  font-size: 6vw;
  background-image: linear-gradient(transparent calc(65% - 5px), #000cc4 5px);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline;
}

.third .mySkills p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.third .mySkills .skillsFlex {
  margin: 3vh 0 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 25px;
}

.third .mySkills .skillsFlex .skillsLogo {
  background-color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh 1vw 2vh 1vw;
  width: 6rem;
  border-radius: 20px;
}

.third .mySkills .skillsFlex .skillsLogo img {
  height: 6vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third .mySkills .skillsFlex .skillsLogo .noactive {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.third button {
  padding: 1rem;
  background-color: transparent;
  border: solid white;
  border-radius: 5px;
}

.work .experience {
  display: block;
  margin: 0 20vw 0 20vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work .experience h2 {
  font-size: 6vw;
  background-image: linear-gradient(transparent calc(65% - 5px), #000cc4 5px);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline;
}

.work .experience p {
  font-size: .85rem;
  font-weight: 400;
}

.work .experience .experienceCards {
  margin: 3vh 0 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 25px;
}

.work .experience .experienceCards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 20px;
}

.work .experience .experienceCards .card .cardTitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
}

.work .experience .experienceCards .card .cardText p  {
  text-align: center !important;
}

.work .experience .experienceCards .card img {
  height: 6vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .experience .experienceCards .card .noactive {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.work button {
  padding: 1rem;
  background-color: transparent;
  border: solid white;
  border-radius: 5px;
}

.rotate2 {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.rotate-2 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.rotate4 {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.shadow {
  -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
}

.underBlue {
  background-image: linear-gradient(transparent calc(65% - 5px), #000cc4 5px);
  background-repeat: no-repeat;
  background-size: 100% 1.5em;
  background-position: 0 150%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  margin: auto;
  color: whitesmoke;
  background-color: #111fff;
}

footer {
  margin-top: 15vh;
  padding-top: 3vh;
  height: 4vh;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111fff;
  background-color: white;
  border-width: 1px;
}

footer p {
  margin: 0 0 0 2vw;
}

footer p a {
  color: #111fff;
}

footer p a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */