@import './navbar';
@import './fonts';
@import './first';
@import './second';

html {
    box-sizing: border-box;
}

body {
    
    display: block;
    width: 100%;
    margin: auto;
    color: whitesmoke;
    background-color: #111fff;
    
}